html{
	background: black;
}

span{
	border: none !important;
}
#timeButton{
	float: right;
	height: 48px;
	width: 90%;
	padding-right: 0 !important;
	margin-right: 9px;


}
.helperText{
	float: left;
}
.form-control{
	float: right;
	width: 90% !important;
		height: 48px !important;
		margin-bottom: 1.5% !important;
}
#timeButtonDiv{
	float: right;

			margin-bottom: 1.5%;
		width: 90%;
}
#ampm{
	padding-top: 0;
	padding-right: :;px;
	padding-bottom: 9px;
	padding-left: 7px;
}
.glyphicon-globe{
	padding-top: 2px !important;
	width: 30px;
}
.globe{
	height: 40px;
}
.globecon{
	margin-bottom: 12px;
}
.input-group-addon{
	padding-top: 0px;
}
#timeDropdown{
	left: 71px;
}
.clickampm{
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
color: #333333;
}