html{
	background: black;
}

span{
	border: none !important;
}
#timeButton{
	float: right;
	height: 48px;
	width: 90%;
	padding-right: 0 !important;
	margin-right: 9px;


}
.helperText{
	float: left;
}
.form-control{
	float: right;
	width: 90% !important;
		height: 48px !important;
		margin-bottom: 1.5% !important;
}
#timeButtonDiv{
	float: right;

			margin-bottom: 1.5%;
		width: 90%;
}
#ampm{
	padding-top: 0;
	padding-right: :;px;
	padding-bottom: 9px;
	padding-left: 7px;
}
.glyphicon-globe{
	padding-top: 2px !important;
	width: 30px;
}
.globe{
	height: 40px;
}
.globecon{
	margin-bottom: 12px;
}
.input-group-addon{
	padding-top: 0px;
}
#timeDropdown{
	left: 71px;
}
.clickampm{
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
color: #333333;
}
#timezoneButton{
		float: right;
	height: 48px;
	width: 90%;
	padding-right: 0 !important;
	margin-right: 17px;
	background: #fff !important;
}
.tt-hint{
	display: none !important;
}
#timezoneButton2{
		float: right;
	height: 48px;
	width: 90%;
	padding-right: 0 !important;
	margin-right: 17px;
	background: #fff !important;

}
#goBack{
	float: left;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
  font-size: 18px;
}